.hero-heading {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  color: oklch(var(--p));
  letter-spacing: 0.025em;
}

.hero-heading-period {
  color: oklch(var(--s))
}

.article-heading__title {
  position: relative;
}

.article-heading__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -23px;
  height: 20px;
  background: red;
  /* 테스트용으로 눈에 잘 보이게 */
  width: 50px;
  transform-origin: left center;
}

.bitter-font {
  font-family: 'Bitter', serif;
  /* font-family: 'Roboto', serif; */
}


.social-links {
  position: relative;
  /* Ensure pseudo-element is positioned relative to this container */
}

.social-links:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 80px;
  margin-top: -2px;
  background-color: red;
  pointer-events: none;
  z-index: 2;
  /* Bring the line in front of icons */
}

.is-open.social-links:after {
  animation: menuLineIn .5s cubic-bezier(0.45, 0.85, 0.35, 0.85) both;
}

@keyframes menuLineIn {
  0% {
    opacity: 0;
    transform: translateX(500%) scaleX(5);
  }

  1% {
    opacity: 1;
  }

  100% {
    transform: none;
  }
}