.portfolio-div {
  background: var(--bg);
}

.hero-heading {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  color: oklch(var(--p));
  letter-spacing: 0.025em;
}

.hero-heading-period {
  color: oklch(var(--s));
}

.article-heading__title {
  position: relative;
}

.article-heading__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -23px;
  height: 20px;
  background: red;
  /* 테스트용으로 눈에 잘 보이게 */
  width: 50px;
  transform-origin: left center;
}

.bitter-font {
  font-family: 'Bitter', serif;
  /* font-family: 'Roboto', serif; */
}

.social-links {
  position: relative;
  /* Ensure pseudo-element is positioned relative to this container */
}

.social-links:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 80px;
  margin-top: -2px;
  background-color: red;
  pointer-events: none;
  z-index: 2;
  /* Bring the line in front of icons */
}

.is-open.social-links:after {
  animation: menuLineIn 0.5s cubic-bezier(0.45, 0.85, 0.35, 0.85) both;
}

.pagewrap {
  min-height: calc(100vh - 40px);
  position: relative;
  background: var(--color-secondary);
  overflow: hidden;
  transition: background 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: slideOutAndDisappear 1s ease-in-out 1s forwards;
  /* 🔹 1초 대기 후 애니메이션 실행 */
}

@keyframes menuLineIn {
  0% {
    opacity: 0;
    transform: translateX(500%) scaleX(5);
  }

  1% {
    opacity: 1;
  }

  100% {
    transform: none;
  }
}

@keyframes slideOutAndDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    /* transform: translateY(100vh); */
  }
}

.pagewrap {
  /* min-height: calc(100vh - 40px); */
  /* position: absolute; */
  /* ✅ 화면에서 빠지도록 조정 */
  /* width: 100%; */
  background: #fff;
  /* overflow: hidden; */
  transition: background 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pagewrap.slide-out {
  animation: slideOutAndDisappear 1s ease-in-out forwards;
  pointer-events: none;
  /* Keep this to prevent clicks */
  /* Remove the display: none from here */
  /* display: none */
}
