@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-bitter: 'Bitter', 'sans-serif'
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
}

/* body {
  font-family: 'Roboto', sans-serif;

} */

/* @layer utilities {
  .test-color {
    background-color: var(--p);
  }
} */